@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-custom-gradient;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.scrollbar-custom::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: transparent;  
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #f59f0b9c;  
  border-radius: 9999px;   
}

/* Firefox */
.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: #f59e0b ;
}